@import "tailwindcss";

/* we will imrpove this, right ? */
:root {
  --background: #ffffff;
  --foreground: #1e3d2f;
  --primary: #1e3d2f;
  --secondary: #6ecbf5;
  --neutral: #a9a9a9;
  --accent: #ff7a00;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-neutral: var(--neutral);
  --color-accent: var(--accent);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

