@import "tailwindcss";

/* boom, updated this , but uh, might not be the theme we wanted, but we can always change this */
:root {
  --background: #ffffff; 
  --foreground: #1C1C1C; 
  --primary: #009236; 
  --secondary: #a3e6a4; 
  --neutral: #F3F3F3; 
  --accent: #ff8127;
  --lightaccent: #ff6c03;
  /* --white: #ffffff;
  --black: #000000; */

  --text-light: #78716c; 
  --text-dark: #1c1917;
  --border-light: #e7e5e4; 
  --border-dark: #a8a29e;
  --card-background: #ffffff;
  --lightblack: #242222;
  --gray: #cfebe840;
  --purple: #cf5fd7;
  --lightblue: #18f6f9;
  --red: #ff3c3c;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-neutral: var(--neutral);
  --color-accent: var(--accent);
  --color-lightblack: var(--lightblack);
  --color-purple: var(--purple);
  --color-gray: var(--gray);
  --color-lightaccent: var(--lightaccent);
  --color-red: var(--red);
  --color-lightblue: var(--lightblue);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

h1 {
  @apply text-[calc(6vw+6vh)] font-semibold
}

h2 {
  @apply text-4xl font-semibold

}
h3 {
  @apply text-2xl 
}
h4 {
  @apply text-2xl font-semibold
}
h5 {
  @apply text-xl font-semibold
}

p {
  @apply text-lg
}